html,body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.px1 {
    padding: 0 1rem;
}

.canvas {
    border: 3px solid cadetblue;
}

.logo {
    font-size: 30px;
}

.toolBar li {
    margin-bottom: 20px;
}

a.active {
    background-color: rgba(0,0,0,0.1);
}

.activeTool {
    background-color: #2ab7a9 !important;
}

.App {
    /* padding: 0 10%; */
    /* position: absolute; */
    /* inset: 0; */
     /* display: flex;
    justify-content: center; */
    /* min-height: 500px; */
    /* align-items: center; */
}
.flexContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.flexGrow {
    flex: 1 1 auto;
}

.flexJustifi {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-around;
}

.toolBar {
    justify-content: space-between;
    border-right: 3px solid cadetblue;
}

.overflowY {
    overflow-y: auto; 
    max-height: 580px
}

.overflowX {
    overflow-x: auto;
}

.mx2 {
   margin: 2rem 0;
}

.w260 {
    max-width: 250px;
    /* margin-right: 20px; */
}

.card:hover {
   box-shadow: 0 8px 17px 2px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}