html,body {
    height: 100%;
}

header, footer {
    height: 10vh;
}

main {
    height: 80vh;
    overflow-y: auto;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.px1 {
    padding: 0 1rem;
}

.p1 {
    padding: 1rem;
}

.m0 {
    margin: 0;
}

.canvas {
    border: 3px solid cadetblue;
}

.logo {
    font-size: 30px;
}

.toolBar li {
    margin-bottom: 20px;
}

a.active {
    background-color: rgba(0,0,0,0.1);
}

.activeTool {
    background-color: #2ab7a9 !important;
}

.flexContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.flexGrow {
    flex: 1 1 auto;
}

.flexJustifi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.justifiCenter {
    justify-content: center;
}

.toolBar {
    padding: 15px;
    justify-content: space-between;
    border: 3px solid cadetblue;
}

.overflowY {
    overflow-y: auto; 
    /* max-height: 580px */
    max-height: 78vh;
}

.overflowX {
    overflow-x: auto;
}

.mx2 {
   margin: 2rem 0;
}
.mr {
    margin-right: 1rem;
}

.w260 {
    max-width: 250px;
    /* margin-right: 20px; */
}

.card:hover {
   box-shadow: 0 8px 17px 2px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}

.vh15 {
    height: 15vh;
}

.vh78 {
    height: 78vh;
}

.vh63 {
    height: 63vh;
    overflow-y: auto;
}

.full-width {
    width: 100%;
}

@media only screen and (min-width: 500px){
.initialForm {
    width: 500px;
    margin: 0 auto;
}
}

@media only screen and (max-width: 994px){
    .overflowY {
    overflow-y: auto; 
    max-height: 55vh
}
}